@using EntityLayer.Concrete
@model List<Product>
@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<br />
<table class="table table-bordered">
    <tr>
        <th>Ürün Adı</th>
        <th>Ürün Resmi</th>
    </tr>
    <tr>
        <td>Çay</td>
        <td><img src="https://www.cumhuriyetpark.net/upload/urunler/bardak_cay_1.jpg"  alt="Italian Trulli" width="150" height="100"></td>
    </tr>
    <tr>
        <td>Kahve</td>
        <td><img src="https://i.nefisyemektarifleri.com/2023/03/15/gano-kahve-faydali-ve-zararli-ozellikleri.jpg" alt="Italian Trulli" width="150" height="100"></td>
    </tr>
    <tr>
        <td>Bitki Çayı</td>
        <td><img src="https://www.acibadem.com.tr/hayat/Images/YayinMakaleler/bagisikligi-guclendiren-5-bitki-cayi_1861_1.jpg" alt="Italian Trulli" width="150" height="100"></td>
    </tr>



</table>