@using EntityLayer.Concrete
@model List<Category>

@{
    ViewBag.Title = "AddCategory";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<br />
<table class="table table-bordered">
    <tr>
        <th>CategoryName</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryName</td>
            <td><a href="/Category/DeleteCategory/@item.CategoryId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Category/EditCategory/@item.CategoryId" class="btn btn-warning">Güncelle</a></td>
        </tr>

    }
</table>
<a class="btn btn-dark" href="/Category/AddCategory">Ekle</a>

